<h3>Choose a state:</h3>

{{#each state in states}}
  {{#linkTo 'state' state}}{{state.name}}{{/linkTo}}
{{/each}}

{{! {{view Ember.Select
  contentBinding="App.stateController.content"
  optionValuePath="content.id"
  optionLabelPath="content.fullName"
  selectionBinding="App.stateController.selectedState"
  prompt="Select a state"
}}