<ul class="politicians-list">
  <li class="politicians">Name Name</li>
  <li class="politicians">Name Name</li>
  <li class="politicians">Name Name</li>
  <li class="politicians">Name Name</li>
  <li class="politicians">Name Name</li>
  <li class="politicians">Name Name</li>
  <li class="politicians">Name Name</li>
  <li class="politicians">Name Name</li>
  <li class="politicians">Name Name</li>
  <li class="politicians">Name Name</li>
</ul>